<div class="logo">
  <!-- <img src="images/logo-black2.svg" alt="The Bearded Spider"> -->
</div>
<ul>
  <li class="btn-flat">
    <span class="fa fa-fw fa-lg fa-comments-o icon"></span>
    <a class="text" href="#">Forums</a>
  </li>
  <li class="btn-flat">
    <span class="fa fa-fw fa-lg fa-bullhorn icon"></span>
    <a class="text" href="#">News</a>
  </li>
  <li class="btn-flat">
    <span class="fa fa-fw fa-lg fa-gamepad icon"></span>
    <a class="text" href="#">Nav Item</a>
  </li>
  <li class="btn-flat">
    <span class="fa fa-fw fa-lg fa-coffee icon"></span>
    <a class="text" href="#">Nav Item</a>
  </li>
</ul>
