<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
  {{> header}}
  <main class="media">
    <nav class="media-figure">
      {{> nav}}
    </nav>
    <section class="media-body">
      {{{body}}}
    </section>
  </main>
  <script src="/scripts/bundle.js"></script>
</body>
</html>
