<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
  <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  {{> header}}
  <main class="media">
    <nav class="media-figure">
      {{> nav}}
    </nav>
    <section class="main-panel media-body">
      {{{body}}}
    </section>
  </main>
  <script src="/scripts/bundle.js"></script>
</body>
</html>
