<section class="main-content">
  <section class="main-vertical">
    <article class="bio"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, saepe expedita cumque quis laboriosam ut exercitationem eum, animi consequuntur facere voluptate quasi, quisquam cupiditate enim ullam consectetur maxime veniam vitae.</p></article>
    <article class="twitch">
      <h4>Go check out my Twitch Channel now</h4>
      <button class="twitch-stream btn-ghost">View Twitch Channel</button>
    </article>
  </section>
  <section class="main-vertical">
    <article class="social">
      <div class="social-box">
        <div><a href="#"><span class="fa fa-3x fa-youtube"></span></a></div>
        <div><a href="#"><span class="fa fa-3x fa-steam"></span></a></div>
        <div><a href="#"><span class="fa fa-3x fa-twitter"></span></a></div>
        <div><a href="#"><span class="fa fa-3x fa-google-plus"></span></a></div>
        <div><a href="#"><span class="fa fa-3x fa-facebook"></span></a></div>
        <!-- <div><a href="#"><span class="fa fa-"></span></a></div> -->
      </div>
    </article>
    <article class="videos-title">
      <h3>Latest (Featured?) Videos</h3>
    </article>
    <article class="videos">
      <div class="video">
        <iframe src="https://www.youtube.com/embed/rJyMzQTA7Mg" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="video">
        <iframe src="https://www.youtube.com/embed/WpWvIKLqQiw" frameborder="0" allowfullscreen></iframe>
      </div>
    </article>
  </section>
</section>
<section class="card-content">
  <article class="media media-card">
    <div class="media-figure"></div>
    <div class="media-body">Lorem ipsum dolor sit amet</div>
  </article>
  <article class="media media-card">
    <div class="media-figure"></div>
    <div class="media-body">Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</div>
  </article>
  <article class="media media-card">
    <div class="media-figure"></div>
    <div class="media-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem facere minima excepturi voluptas repellat distinctio iure itaque dignissimos qui nobis perferendis impedit aperiam tenetur facilis, eveniet autem, nostrum. A, culpa.</div>
  </article>
  <article class="media media-card">
    <div class="media-figure"></div>
    <div class="media-body">Lorem ipsum dolor sit amet</div>
  </article>
  <article class="media media-card">
    <div class="media-figure"></div>
    <div class="media-body">Lorem ipsum dolor sit amet</div>
  </article>
  <article class="media media-card">
    <div class="media-figure"></div>
    <div class="media-body">Lorem ipsum dolor sit amet</div>
  </article>
  <article class="media media-card">
    <div class="media-figure"></div>
    <div class="media-body">Lorem ipsum dolor sit amet</div>
  </article>
</section>

<footer>
  <ul>
    <li><a href="#">link</a></li>
    <li><a href="#">link</a></li>
    <li><a href="#">link</a></li>
    <li><a href="#">link</a></li>
    <li><a href="#">link</a></li>
  </ul>
</footer>
