.media-cards {
  display: flex;
  flex-wrap: wrap;
}

.media-card {
  background-color: hsl($primary-hue, 53%, 21%);
}

.media-card > .media-figure {
  min-height: 120px;
  width: calc(200% / 5);
  margin: 1px;
  margin-right: 0;
  background-image: url(/images/logo-white.svg);
  background-size: cover;
  background-position: center center;

  @include large {
    min-height: 160px;
  }
}

.media-card > .media-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  margin: 1px;
  background-color: $charcoal;

  .btn-action {
    margin: 10px;
  }
}
