.media-cards {
  display: flex;
  flex-wrap: wrap;
}

.media-card {
  background-color: hsl($primary-hue, 53%, 21%);
}

.media-card > .media-figure {
  min-height: 160px;
  width: 250px;
  margin: 1px;
  margin-right: 0;
  background-image: url(/images/DD_Crash.jpg);
  background-size: cover;
  background-position: center center;
}

.media-card > .media-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  margin: 1px;
  background-color: $charcoal;
}
