.btn-flat {
  padding: 15px;
  margin: 5px;
  font-size: .9em;
  background-color: hsl($primary-hue, 48%, 33%);

  &:hover {
    background-color: hsl($primary-hue, 48%, 42%);
  }

  .icon {
    padding-right: 5px;
  }

  .text {
    vertical-align: -15%;
    line-height: .75em;
    font-family: $secondary-font;
  }
}

.btn-ghost {
  padding: 20px 20px 16px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid $primary-color;
  outline: none;
  color: $primary-color;
  border-radius: 10px;
  /* min-width: 50%; */
  /* align-self: center; */
  font-family: 'Optimus Princeps';
  font-weight: bold;

  &:hover {
    background-color: hsla($primary-hue, 70%, 41%, 0.3);
  }
}

.btn-action {
  background-color: hsla(0, 100%, 100%, 0);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid $action-color;
  color: $action-color;
  text-decoration: none;
}

.social-box {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: space-around;
  box-sizing: content-box;
  width: 100%;
  height: 48px;
  padding: 10px 10px 8px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);

  a {
    text-decoration: none;
  }

  & > div {
    height: 48px;
  }

  .fa {
    display: block;
    color: $primary-color;
    -webkit-filter: opacity(75%);

    &:hover {
      -webkit-filter: none;
    }
  }
}
