footer {
  padding: 10px;

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;

    li {
      list-style: none;
      order: 1;
      padding: 10px;
      font-size: 1.5em;

      a {
        color: $primary-color;
        text-decoration: none;

        &:hover {
          color: $action-color;
        }
      }

      @include small {
        padding: initial;
        font-size: .8em;
      }
    }
  }
}
