$header-height: 50px;
$header-height-small: 60px;

@mixin header-spacing {
  margin-top: $header-height;

  @include small {
    margin-top: $header-height-small;
  }
}

body > header {
  position: fixed;
  height: 50px;
  z-index: 99;
  width: 100%;
  font-weight: 300;
  font-size: .6em;
  background-color: $secondary-color;
  border-bottom: 3px solid hsl($primary-hue, 53%, 21%);

  @include small {
    font-size: .8em;
    height: $header-height-small;
  }

  .media-figure {
    padding: 20px 10px;
    align-items: center;

    .header-title {
      font-size: 1.3em;
      font-family: $secondary-font;
      font-weight: bold;
      padding: 20px 5px;
      margin-left: -15px;
      z-index: 1;
    }
  }

  .media-body {
    padding: 20px 10px;
  }

  .logo {
    display: inline-block;
    height: 20px;
    width: 20px;
    -webkit-filter: drop-shadow(1px 1px 1px #666);
    filter: drop-shadow(1px 1px 1px #666);

    @include small {
      height: 30px;
      width: 30px;
    }
  }

  .twitch-status {
    align-self: center;
  }

  .signin {
    padding: 0 10px;
    align-self: center;

    .btn-action {
      .fa {
        @include small {
          display: none;
        }
      }

      .text {
        display: none;

        @include small {
          display: inline;
        }
      }
    }
  }

  a {
    color: white;
  }

  .logout {
    font-size: .85em;
    font-family: 'Optimus Princeps';
  }
}

.user {
  padding: 6px;
  display: flex;

  @include small {
    padding: 10px;
  }

  .welcome {
    display: none;
    align-self: center;

    @include small {
      display: inline;
    }
  }
}

.user-logo {
  height: 36px;
  width: 36px;
  margin-left: 10px;
  background-color: $charcoal;
  border: 1px solid;

  @include small {
    height: 36px;
    width: 36px;
  }
}

.user-menu {
  position: relative;
}

.user-menu-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 36px;
  width: 36px;
  color: hsla(0, 0, 0, 0);
  background-color: hsla(0, 0, 0, 0);
  cursor: pointer;
  transition:
    background-color .1s cubic-bezier(0.5, 0.2, 0.3, 1.0),
    color .1s cubic-bezier(0.5, 0.2, 0.3, 1.0);

  @include small {
    height: 36px;
    width: 36px;
  }

  &::before {
    vertical-align: -42%;
  }

  &:hover {
    color: white;
    background-color: hsla($primary-hue, 0, 100%, 0.5);
  }
}

.user-menu-items {
  display: none;
  position: absolute;
  top: 30px;
  right: 0;
  width: 100px;
  padding: 0px;
  border: 2px solid hsl($primary-hue, 53%, 21%);
  color: $ash;
  background-color: $charcoal;
  list-style: none;

  @include small {
  }

  a {
    color: $primary-color;
    font: 2em $secondary-font;
    text-decoration: none;
    width: 100%;

    @include small {
      font: 1.3em $secondary-font;
    }

    &:hover {
      color: $ash;
    }

    li {
      // vertical-align: -15%;
      // line-height: .75em;
      padding: 10px 10px 8px;

      &:hover {
        background-color: $primary-color;
      }
    }
  }
}
