.logo {
  background-image: url(/images/logo-black.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.logo-white {
  @extend .logo;
  background-image: url(/images/logo-white.svg);
}
