nav {
  width: 100px;
  position: fixed;
  min-height: calc(100vh - 60px);
  margin-top: 100px;
  background-color: hsl($primary-hue, 8%, 9%);

  @include small {
    margin-top: 60px;
    width: 60px;
  }

  @include large {
    width: 160px;
  }

  .logo {
    height: 100px;
    background-size: 90%;
    -webkit-filter: drop-shadow(0px 0px 3px rgb(190,20,255));
    filter: drop-shadow(0px 0px 3px rgb(190,20,255));

    img {
      width: 100%;
    }

    @include small {
      height: 60px;
    }

    @include large {
      height: 160px;
    }
  }

  .text {
    display: none;

    @include large {
      display: inline;
    }
  }

  .icon {
    line-height: 1.2em;
    font-size: 3.5em;

    @include small {
      line-height: 1em;
      font-size: 1.3333333em;
      margin: 0;
    }
  }

  ul {
    padding: 0;
    margin: 0;

    li {
      height: 90px;
      list-style: none;

      @include small {
        height: inherit;
      }

      &:first-child {
        margin-top: 0;
      }
    }
  }

  a {
    color: hsl($primary-hue, 23%, 95%);
    text-decoration: none;
  }
}
