@import url(https://fonts.googleapis.com/css?family=Fauna+One);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

@font-face {
  font-family: 'Optimus Princeps';
  src:
    url('/fonts/OptimusPrinceps.woff') format('woff'),
    url('/fonts/OptimusPrinceps.ttf') format('truetype');
}

@font-face {
  font-family: 'Optimus Princeps';
  src:
    url('/fonts/OptimusPrincepsSemiBold.woff') format('woff'),
    url('/fonts/OptimusPrincepsSemiBold.ttf') format('truetype');
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  text-shadow: 1px 1px 0px hsl(0, 0%, 0%);
}

h3 {
  font-size: 1.33em;
}

h4 {
  font-size: 1.125em;
}
